.side-bar {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  background-color: #34495e;
  justify-content: flex-start;
  text-align: center;
  position: fixed;
  top: 9%;
  left: 0;
}
.sider-bar-item {
  padding: 5px;
  font-size: 20px;
  color: white;
}
.sider-bar-item:hover {
  background-color: #2980b9;
  border-radius: 10px;
  width: 80%;
}
