.table-container {
  margin-left: 200px;
}
.img-cart {
  width: 50px;
  height: 50px;
}
.delete-icon {
  color: brown;
  cursor: pointer;
  padding: 3px;
  font-size: 25px;
}
.users-actions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.users-info {
  color: yellow;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}
.totalamount-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.totalamount-info-text {
  color: #3498db;
}
.totalamount-info-count {
  font-size: 30px;
  color: white;
}
.livraison {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.livraison-text {
  font-size: 25px;
  color: #f1c40f;
  text-transform: capitalize;
}
.livraison-price {
  font-size: 30px;
  color: white;
}
